@import url("https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap");

/************************************************************
* Quick Links
*************************************************************/
.dx-quicklink {
  display: flex;
  gap: 20px;
  &--item {
    font-family: Open Sans, sans-serif;
    border-radius: 3px;
    box-shadow: 1px 10px 25px 0px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 166px;
    flex-direction: column;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    text-transform: capitalize;
    padding: 21px 63px;
  }
  &--icon {
    object-fit: auto;
    object-position: center;
    width: 100%;
    align-self: center;
  }
  &--name {
    white-space: nowrap;
  }
}

/*************************************************************
* Articles
**************************************************************/
.dx-article {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.dx-article--cover {
  aspect-ratio: 2;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 150px;
}
.dx-article-content {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 9px 15px;
}
.dx-article--date {
  color: #3e2a2f;
  align-self: start;
  margin-top: 11px;
  font: 400 11px/218% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
.dx-article--bookmark {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}
.dx-article--desc {
  color: #0e0911;
  margin-top: 30px;
  font: 500 16px/24px Comfortaa, -apple-system, Roboto, Helvetica, sans-serif;
}
.dx-article-user {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  gap: 14px;
  &--avatar {
    aspect-ratio: 1.12;
    object-fit: contain;
    object-position: center;
    width: 27px;
    box-shadow: 0px 3px 6px 0px rgba(110, 116, 134, 0.24);
    border-radius: 10px;
  }
  &--name {
    color: #1d458c;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 10px/240% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  }
}

.dx-article--separator {
  background-color: #bbb;
  margin-top: 16px;
  height: 1px;
}
.dx-article-footer {
  align-self: flex-start;
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  gap: 20px;
}
.dx-article-footer--item {
  display: flex;
  gap: 4px;
  align-items: center;
  img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
  }
  .dx-article--index {
    color: #3e2a2f;
    font: 400 11px Poppins;
  }
}

/************************************************************
* Carousel
*************************************************************/
.dx-carousel {
  &-item {
    position: relative;
    img {
      width: 100%;
    }
  }
  &-caption {
    position: absolute;
    width: 50%;
    bottom: 3rem;
    left: 2rem;
    border-radius: 5px;
    backdrop-filter: blur(8.5px);
    color: #fff;
    background-color: rgba(0, 61, 165, 0.25);
    display: flex;
    flex-direction: column;
    padding: 19px 26px;
    h5 {
      font-size: 23px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0;
      line-height: 34px;
    }
    p {
      margin-top: 15px;
      font-size: 16px;
    }

    .dx-btn {
      border-radius: 3px;
      background-color: #fff;
      text-decoration: none;
      align-self: end;
      margin-top: 7px;
      justify-content: center;
      color: #003da5;
      white-space: nowrap;
      text-align: center;
      padding: 10px 28px;
      font: 13px;
    }
  }
}

/*******************************************************************
* Events
********************************************************************/
.dx-events {
  &--name {
    font-size: 20px;
    font-weight: 400;
  }
  &--title {
    font-size: 40px;
    font-weight: 400;
  }
  &--desc {
    font-size: 20px;
  }
  &--calendar {
    .p-datepicker {
      background: transparent;
      color: #fff;
      border: 0;
      &-header {
        background: transparent;
        justify-content: space-around;
        .p-datepicker-title {
          margin: 0;
        }
        button {
          color: #1f2023;
          font-weight: 400;
        }
      }
      &-calendar {
        font-size: 12px;
        thead {
          th {
            text-align: center;
            color: #1f2023;
          }
        }
        tbody {
          td {
            color: #919091;
            span:hover {
              color: #4b5563;
            }
          }
        }
      }
    }
  }
  &--search {
    .p-input-icon-left {
      display: flex;
      align-items: center;
      height: 46px;
      input {
        height: 100%;
        padding: 0 40px;
      }
    }
  }
}

/*******************************************************************
* Happy Birthday
********************************************************************/
.dx-hp {
  position: relative;
  background: #f3f4f3;
  border-radius: 50%;
  padding: 4rem;
  min-height: 400px;
  &-users {
    margin-top: 3rem;
    &--avatar {
      img {
        width: 42px;
        border-radius: 50%;
      }
    }
    &--item {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;
    }
    &--content {
      display: flex;
      flex-direction: column;
      color: #9B9B9B;
      font-size: 10px;
    }
    &--position{
      color:#52617B;
      font-weight: 300;
      font-size: 11px;
      margin-bottom: 4px;
    }
    &--name {
      font-family: "Open Sans", sans-serif!important;
      color:#52617B;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 3px;
    }
    &--birthday {
    }
    &--hobbies {
    }
  }
  &--title {
    position: relative;
    font-family: "Unkempt", cursive;
    color: #52617b;
    text-align: center;
    font-size: 26px;
    z-index: 9;
  }
}

/*******************************************************************
* List Schedule
********************************************************************/
.dx-schedule {
  display: flex;
  &__dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    background: #fff;
    border-radius: 20px;
  }
  &__date {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    font-weight: 500;
    color: #003da5;
    line-height: 20px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    span {
      font-size: 15px;
      font-weight: 400;
    }
    &--selected {
      background: #fff;
      color: #00965e;
      padding: 4px 15px;
      border-radius: 16px;
      box-shadow: 0px 18px 24px 0px rgba(0, 0, 0, 0.25);
    }
  }
  &__events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
  }
  &__event {
    span {
      background: #00965e;
      padding: 5px 15px;
      color: #fff;
    }
    p {
      margin-bottom: 0;
      font-weight: 300;
      color: #0e0911;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

/************************************************************
* Title
*************************************************************/
.dx-title {
  margin-bottom: 3rem;
  h1 {
    position: relative;
    color: #0e376a;
    font-size: 24px;
    font-weight: bold;
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 50px;
      height: 3px;
      background-color: #00965e;
    }
  }
}
