@import url("https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

/***************************************
* Colors
***************************************/
$primary-color: #273f5b;
$secondary-color: #f0f5fe;
$tertiary-color: #757575;
$black-color: #000;

/************************************************************
* Quick Links
*************************************************************/
.dx-quicklink__container {
  background-color: #f3f4f3;
  display: "flex";
  justify-content: "center";
  padding: 30px 0;
}
.dx-quicklink {
  display: flex;
  gap: 20px;
  &--item {
    font-family: Open Sans, sans-serif;
    border-radius: 3px;
    box-shadow: 1px 10px 25px 0px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 166px;
    flex-direction: column;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    text-transform: capitalize;
    padding: 21px 63px;
  }
  &--icon {
    object-fit: auto;
    object-position: center;
    width: 100%;
    align-self: center;
  }
  &--name {
    white-space: nowrap;
  }
}

/*************************************************************
* Articles
**************************************************************/
.dx-article {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.dx-article--cover {
  aspect-ratio: 2;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 150px;
}
.dx-article-content {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 9px 15px;
}
.dx-article--date {
  color: #3e2a2f;
  align-self: start;
  margin-top: 11px;
  font: 400 11px/218% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
.dx-article--bookmark {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}
.dx-article--desc {
  color: #0e0911;
  margin-top: 30px;
  font: 500 16px/24px Comfortaa, -apple-system, Roboto, Helvetica, sans-serif;
}
.dx-article-user {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  gap: 14px;
  &--avatar {
    aspect-ratio: 1.12;
    object-fit: contain;
    object-position: center;
    width: 27px;
    box-shadow: 0px 3px 6px 0px rgba(110, 116, 134, 0.24);
    border-radius: 10px;
  }
  &--name {
    color: #1d458c;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 10px/240% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  }
}

.dx-article--separator {
  background-color: #bbb;
  margin-top: 16px;
  height: 1px;
}
.dx-article-footer {
  align-self: flex-start;
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  gap: 20px;
}
.dx-article-footer--item {
  display: flex;
  gap: 4px;
  align-items: center;
  img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
  }
  .dx-article--index {
    color: #3e2a2f;
    font: 400 11px Poppins;
  }
}

/************************************************************
* Carousel
*************************************************************/
.dx-carousel {
  overflow: hidden;
  position: relative;
  &-inner {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-out;
    height: 430px;
  }
  &-item {
    flex: 0 0 auto;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &-caption {
    position: absolute;
    width: 50%;
    bottom: 3rem;
    left: 3rem;
    border-radius: 5px;
    backdrop-filter: blur(8.5px);
    color: #fff;
    background-color: rgba(0, 61, 165, 0.25);
    display: flex;
    flex-direction: column;
    padding: 19px 26px;
    h5 {
      font-size: 23px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0;
      line-height: 34px;
    }
    p {
      margin-top: 15px;
      font-size: 16px;
    }

    .dx-btn {
      border-radius: 3px;
      background-color: #fff;
      text-decoration: none;
      align-self: end;
      margin-top: 7px;
      justify-content: center;
      color: #003da5;
      white-space: nowrap;
      text-align: center;
      padding: 10px 28px;
      font: 13px;
    }
  }
}
.dx-carousel-control-prev,
.dx-carousel-control-next {
  position: absolute;
  top: calc(50% + 30px);
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.dx-carousel-control-prev {
  left: 0;
}

.dx-carousel-control-next {
  right: 10px;
}

/*******************************************************************
* Events
********************************************************************/
.dx-events {
  &--name {
    font-size: 20px;
    font-weight: 400;
  }
  &--title {
    font-size: 40px;
    font-weight: 400;
  }
  &--desc {
    font-size: 20px;
  }
  &--calendar {
    .p-datepicker {
      background: transparent;
      color: #fff;
      border: 0;
      &-header {
        background: transparent;
        justify-content: space-around;
        .p-datepicker-title {
          margin: 0;
        }
        button {
          color: #1f2023;
          font-weight: 400;
        }
      }
      &-calendar {
        font-size: 12px;
        thead {
          th {
            text-align: center;
            color: #1f2023;
          }
        }
        tbody {
          td {
            color: #919091;
            span:hover {
              color: #4b5563;
            }
          }
        }
      }
    }
  }
  &--search {
    .p-input-icon-left {
      display: flex;
      align-items: center;
      height: 46px;
      input {
        height: 100%;
        padding: 0 40px;
      }
    }
  }
}

/*******************************************************************
* Happy Birthday
********************************************************************/
.dx-hp {
  position: relative;
  background: #f3f4f3;
  border-radius: 50%;
  padding: 4rem;
  min-height: 400px;
  &-users {
    margin-top: 3rem;
    &--avatar {
      img {
        width: 42px;
        border-radius: 50%;
      }
    }
    &--item {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;
    }
    &--content {
      display: flex;
      flex-direction: column;
      color: #9b9b9b;
      font-size: 10px;
    }
    &--position {
      color: #52617b;
      font-weight: 300;
      font-size: 11px;
      margin-bottom: 4px;
    }
    &--name {
      font-family: "Open Sans", sans-serif !important;
      color: #52617b;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 3px;
    }
    &--birthday {
    }
    &--hobbies {
    }
  }
  &--title {
    position: relative;
    font-family: "Unkempt", cursive;
    color: #52617b;
    text-align: center;
    font-size: 26px;
    z-index: 9;
  }
}

/*******************************************************************
* List Schedule
********************************************************************/
.dx-schedule {
  display: flex;
  &__dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    background: #fff;
    border-radius: 20px;
  }
  &__date {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    font-weight: 500;
    color: #003da5;
    line-height: 20px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    span {
      font-size: 15px;
      font-weight: 400;
    }
    &--selected {
      background: #fff;
      color: #00965e;
      padding: 4px 15px;
      border-radius: 16px;
      box-shadow: 0px 18px 24px 0px rgba(0, 0, 0, 0.25);
    }
  }
  &__events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
  }
  &__event {
    span {
      background: #00965e;
      padding: 5px 15px;
      color: #fff;
    }
    p {
      margin-bottom: 0;
      font-weight: 300;
      color: #0e0911;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

/*******************************************************************
* Latest News
********************************************************************/
.dx-news {
  display: flex;
  align-self: stretch;
  &--cover {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    max-height: 278px;
    width: 100%;
    justify-content: center;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &--title {
    font-size: 20px;
    color: #101828;
  }
  &--desc {
    color: #667085;
    margin-top: 10px;
  }
  &--author {
    color: #0e376a;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
  }
}
/*******************************************************************
* Teams List
********************************************************************/
.dx-teams {
  background: #e5ecf6;
  padding: 25px;
  &--item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &-avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
    &-name {
      font-size: 13px;
      margin: 0;
    }
    &-service {
      color: #95999f;
      margin: 0;
    }
  }
}
/************************************************************
* Title
*************************************************************/
.dx-title {
  margin-bottom: 3rem;
  h1 {
    position: relative;
    color: #0e376a;
    font-size: 24px;
    font-weight: bold;
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 50px;
      height: 3px;
      background-color: #00965e;
    }
  }
}

/*******************************************************************
* Careers
********************************************************************/
.dx-careers {
  &-categories {
    list-style: none;
    margin: 0;
    padding: 0;
    &--item {
      color: #38404c;
      font-size: 15px;
      margin-bottom: 15px;
      cursor: pointer;
      &__selected {
        color: #232434;
        font-weight: 700;
      }
    }
  }
  &-item {
    background: #fff;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;
    &--time {
      font-weight: 12px;
      color: #505e6b;
    }
    &--title {
      color: #232434;
      font-weight: 500;
      font-size: 16px;
      margin: 15px 0 30px 0;
    }
    &--createDate {
      color: #505e6b;
      font-size: 12px;
    }
    &--category {
      font-size: 14px;
      color: #505e6b;
    }
    &--contract {
      font-size: 12px;
      color: #505e6b;
    }
    &--label {
      font-size: 14px;
      color: #505e6b;
    }
    &--location {
      font-size: 12px;
      color: #505e6b;
    }
    &--link {
      font-family: "Open Sans", sans-serif;
      color: #0e376a;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &--nodata {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 45px 0px;
    margin: 40px 0;
  }
}

/*******************************************************************
* Card Article
********************************************************************/
.dx-card-article {
  &--cover {
    img {
      height: 170px;
      width: 100%;
      object-fit: cover;
    }
  }
  &--content {
    margin-top: 25px;
  }
  &--author {
    display: block;
    margin-bottom: 10px;
    color: #0e376a;
    font-size: 13px;
  }
  &--title {
    font-size: 22px;
    font-weight: 500;
    color: #101828;
  }
  &--desc {
    margin-top: 15px;
    color: #667085;
    font-size: 14px;
  }
}

/*******************************************************************
* Card Document
********************************************************************/
.dx-document {
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.07);
  background: #fff;
  border-radius: 10px;
  &--item {
    cursor: pointer;
  }
  &--cover {
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
  &--title {
    color: #00965e;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
  }
  &--link {
    border: 1px solid #00965e;
    color: #00965e;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }
}

/***************************************
* Global styles
***************************************/
.dx-cursor {
  cursor: pointer;
}
/***************************************
* Table
***************************************/
.dx-manager-docs {
  .dx-table {
    thead {
      th {
        color: $primary-color;
        font-size: 15px;
        font-weight: 700;
      }
    }
    tbody {
      tr {
        td {
          font-size: 15px;
          color: $black-color;
        }
      }
    }
  }

  //File
  .dx-file {
    &--date {
      color: $tertiary-color;
      font-weight: 300;
    }
  }
  &-filter {
    background: $secondary-color;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: $black-color;
    &--list {
      list-style: none;
      padding: 0;
      margin: 0;
      &-item {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 15px;
        cursor: pointer;
        &:not(:last-child) {
          border-bottom: 1px solid #97b6ed;
        }
        i {
          color: $primary-color;
        }
      }
    }
  }
}
/***************************************
* Avatar
***************************************/
.dx-avatar {
  &--small {
    width: 30px;
    height: 30px;
  }
  &--circle {
    border-radius: 50%;
  }
}
/********************************************
* Menu
*********************************************/
.dx-menu-list {
  .p-menu-list {
    margin: 0;
    padding: 0;
    .p-menuitem-link {
      text-decoration: none;
      font-size: 13px;
      .p-menuitem-icon {
        font-size: 13px;
      }
    }
  }
}

.dx-card-document {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);

  &--cover {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
    }
    .pi {
      position: absolute;
      font-size: 29px;
      background: rgba(13, 81, 149, 0.6);
      padding: 20px;
      border-radius: 50%;
      left: calc(50% - 34px);
      top: calc(50% - 34px);
      color: #fff;
    }
  }
  &-user {
    display: flex;
    align-items: center;
    gap: 8px;
    &--avatar {
      width: 30px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  &--info {
    background: #00965e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
  }
  &-views {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &-content {
    font-size: 18px;
    padding: 25px 15px;
  }
  &-footer {
    padding: 0 15px;
  }
  &--type {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    border-top: 1px solid #acb5c3;
    padding: 20px 0;
    font-size: 12px;
  }
}

/*******************************************************************
* Agency
********************************************************************/
.dx-agency {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  &--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
  }
  &--city {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0.7rem;
  }
  &--address {
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    max-width: 116px;
  }
}

/*******************************************************************
* Info Box
********************************************************************/
.dx-infobox {
  &--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 35px 20px;
    height: 100%;
  }
  &--title {
    color: #003da5;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &--icon {
    margin: 1rem 0px 2rem 0;
    width: 98px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--desc {
    color: #000000;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
  }
}

/*******************************************************************
* Timeline
********************************************************************/
.dx-timeline {
  padding: 10px;
  display: flex;
  cursor: grab;
  touch-action: none;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  &--item {
    display: flex;
    flex-direction: column;
    &:nth-child(even) {
      flex-direction: column-reverse;
    }
  }
  &--header {
    width: 220px;
    height: 220px;
    color: #fff;
    padding: 20px;
    &-year {
      font-size: 60px;
      font-weight: 500;
    }
    &-desc {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
  }
  &--logo {
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    &__shadow {
      box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
    }
  }
}

/*******************************************************************
* Author Box
********************************************************************/
.dx-author {
  display: flex;
  flex-basis: 0;
  flex-shrink: 0;
  flex-direction: row;
  gap: 2rem;
  border-bottom: 2px solid #c6c9cd;
  padding-bottom: 3rem;
  margin: 0 3rem;
  &--image {
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 50%;
      object-position: top;
    }
  }
  &-content {
    font-family: "Open Sans", sans-serif;
    &--desc {
      color: #0e0911;
      font-size: 20px;
      line-height: 36px;
      font-weight: 400;
      margin-bottom: 2rem;
    }
    &--name {
      color: #0e0911;
      font-size: 16px;
      font-weight: 500;
    }
    &--job {
      font-size: 16px;
      color: #0e0911;
    }
  }
}

/*******************************************************************
* Events
********************************************************************/
.dx-events {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .dx-events--btn {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    img {
      margin-right: 2rem;
    }
  }
}
.dx-event-banner {
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: #fff;
  z-index: 1;
  &:after {
    content: "";
    background: #003da5;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  &--title {
    margin: 0;
    font-size: 32px;
  }
  &--date {
    display: flex;
    gap: 4rem;
    margin: 15px 0;
    &-item {
      display: flex;
      font-size: 80px;
      flex-direction: column;
      font-family: "Open Sans", sans-serif;
      align-items: center;
      justify-content: center;
      text-align: center;
      span {
        font-size: 16px;
      }
    }
  }
  &--desc {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin: 0 0 2rem 0;
    padding: 0;
  }
  &--btn {
    background: #038387;
    color: #fff;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 4px 20px;
    border-radius: 4px;
  }
}

.dx-event-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  &--item {
    position: relative;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      display: block;
    }
    &.wide {
      grid-column: span 2;
    }
  }
  &--image-wrapper {
    height: 250px;
  }
}

.dx-event-current {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  &--item {
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    padding: 11px 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.07);
    gap: 20px;
  }
  &--label {
    font-size: 13px;
    font-weight: 700;
    span {
      font-weight: 300;
    }
  }
}
